.speciality-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem 0;
    text-align: center;
    color: #1F2937;
}

.speciality-title {
    font-size: 2rem;
    font-weight: 600;
}

.speciality-description {
    width: 90%;
    max-width: 450px;
    text-align: center;
    font-size: 0.95rem;
    color: #4B5563;
    line-height: 1.6;
}

/* Scrollable List for Mobile, Centered for Desktop */
.speciality-list {
    display: flex;
    gap: 2rem; /* Comfortable spacing */
    padding-top: 2rem;
    width: 100%;
    overflow-x: auto; /* Horizontal scroll on small screens */
    justify-content: flex-start; /* Start left on mobile */
    padding-bottom: 1rem;
}

@media (min-width: 640px) {
    .speciality-list {
        justify-content: center; /* Center on larger screens */
    }
}

/* Hide Scrollbar */
.speciality-list::-webkit-scrollbar {
    display: none;
}
.speciality-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.speciality-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    flex-shrink: 0;
    text-decoration: none;
    color: #4B5563;
    transition: transform 0.3s ease;
}

.speciality-item:hover {
    transform: translateY(-10px); /* Lift up effect */
    color: #5f6fff; /* Text turns blue */
}

.speciality-img {
    width: 5.5rem; /* Larger Click Target */
    height: 5.5rem;
    margin-bottom: 0.8rem;
    object-fit: cover;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

/* Add a shadow glow on hover */
.speciality-item:hover .speciality-img {
    box-shadow: 0px 10px 20px rgba(95, 111, 255, 0.25);
}