.sidebar {
    min-height: 100vh;
    width: 18%;
    min-width: 250px;
    background-color: white;
    border-right: 1px solid #e2e2e2;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    cursor: pointer;
    color: #4b5563;
    text-decoration: none;
    border-right: 3px solid transparent;
}

.sidebar-link.active {
    background-color: #f2f3ff;
    border-right-color: #5f6fff;
    color: #000;
}

.sidebar-icon {
    min-width: 20px;
    font-size: 20px;
}

@media (max-width: 900px) {
    .sidebar {
        min-width: 0;
        width: 80px;
    }
    .sidebar-text {
        display: none;
    }

    .sidebar-link {
        justify-content: center;
        padding: 15px 10px;
    }
}